<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">

    <div class="col md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{ nombre }}, es un placer
                {{ genero | i18nSelect:invitacionMapa }}
                a nuestro evento.
            </p>
            <button 
                pButton 
                type="button" 
                icon="pi pi-check" 
                iconPos="left"
                label="Cambiar persona"
                class="p-button-help p-button-raised p-button-rounded"
                (click)="cambiarCliente()">
            </button>
        </p-fieldset>
    </div>

    <div class="col md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">

            <p>
                Actualmente tenemos {{ clientes.length | i18nPlural:clientesMapa }}
            </p>
            <button 
                pButton 
                type="button" 
                icon="pi pi-check" 
                iconPos="left"
                label="Borrar persona"
                class="p-button-danger p-button-raised p-button-rounded"
                (click)="borrarCliente()">
            </button>

        </p-fieldset>
    </div>

</div>